.blog-detail {
  height: 100%;
  padding-top: 50px;
  background-image: url('../../img/header.png');
}

.blog-detail .wrapper {
  min-height: 100%;
  padding-bottom: 24px;
  background: #fff;
  overflow: hidden;
}

.blog-content img {
  width: 100%;
}

.blog-content table {
  margin-top: 24px;
  width: 95%;
  padding: 12px;
  color: #212529;
}

.blog-content th, .blog-content td {
  vertical-align: bottom;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  text-align: center;
  padding: .75rem;
  font-size: 16px;
}

.blog-content th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
  color: #fff;
  background-color: #343a40;
  border-color: #454d55;
}

.blog-content td {
  font-weight: 100;
}

.blog-content tbody tr:nth-child(even) {
  background-color: rgba(0,0,0,.05);
}

@media(min-width: 768px) {
  .blog-detail .blog-content {
    margin: auto;
    width: 960px;
    padding: 36px;
  }
}

@media(max-width: 767px) {
  .blog-detail .blog-content {
    padding: 0 24px;
  }

  h1 {
    font-size: 24px !important;
  }

  h2 {
    font-size: 20px
  }

  h3 {
    font-size: 16px;
  }

  p {
    font-size: 12px;
  }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .blog-detail .blog-content {
        width: 720px;
    }
}
