{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "twitter" }}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@NebulaGraph">
  <meta name="twitter:creator" content="@NebulaGraph">
  <meta name="twitter:domain" content="nebula-graph.io">
  <meta name="twitter:title" content="{{.Title}}">
  <meta property="twitter:title" content="{{.Title}}">
  {{ with .Description }}
    <meta name="twitter:description" content="{{.}}">
    {{ with $.Resources }}
      {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
          {{ $cover := .Resize "600x" }}
          {{ with $cover }}
              <meta name="twitter:image" content="{{ .Permalink }}"/>
          {{ end }} 
      {{ end }}
    {{ end }}
  {{ else }}
    <meta name="twitter:description" content="{{.Site.Params.description}}">
    {{ with .Resources }}
      {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
          {{ $cover := .Resize "600x" }}
          {{ with $cover }}
              <meta name="twitter:image" content="{{ .Permalink }}"/>      
          {{ end }} 
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "description" }}
  {{ with .Description }}
    <meta name="description" content="{{.}}">
  {{ else }}
    <meta name="description" content="{{.Site.Params.description}}">
  {{ end }}
{{ end }}

{{ define "main" }}
  <main class="blog-detail">
    <div class="wrapper">
      <section class="blog-content">
        {{- .Content }}
        <div id='discourse-comments'></div>
      </section>
    </div>
  </main>
{{ end }}

{{ define "extraJs" }}
  {{ if not .Site.IsServer }}
    <script type="text/javascript">
      DiscourseEmbed = { discourseUrl: 'https://discuss.nebula-graph.io/',
                        discourseEmbedUrl: '{{ .Permalink }}' };

      (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
      })();
    </script>
  {{ end }}
{{ end }}