{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "twitter" }}
  {{ with .Description }}
    <meta property="twitter:card" content="{{.}}">
    {{ with .Resources }}
      {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
          {{ $cover := .Resize "600x" }}
          {{ with $cover }}
              <meta property="twitter:image" content="{{ .Permalink }}"/>      
          {{ end }} 
      {{ end }}
    {{ end }}
  {{ else }}
    <meta property="twitter:card" content="{{.Site.Params.description}}">
    {{ with .Resources }}
      {{ with .GetMatch "{*.jpg,*.png,*.jpeg}" }}
          {{ $cover := .Resize "600x" }}
          {{ with $cover }}
              <meta property="twitter:image" content="{{ .Permalink }}"/>      
          {{ end }} 
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

{{ define "description" }}
  {{ with .Description }}
    <meta name="description" content="{{.}}">
  {{ else }}
    <meta name="description" content="{{.Site.Params.description}}">
  {{ end }}
{{ end }}

{{ define "main" }}
  <main class="blog-detail">
    <div class="wrapper">
      <section class="blog-content">
        {{- .Content }}
        <div id='discourse-comments'></div>
      </section>
    </div>
  </main>
{{ end }}